@font-face {
	font-family: 'Droid Sans Mono';
	font-style: normal;
	font-weight: 400;
	src:
		local('Droid Sans Mono'),
		local('DroidSansMono'),
		/* from http://fonts.gstatic.com/s/droidsansmono/v7/ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4.woff */
		url('/fonts/Droid_Sans_Mono_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/droidsansmono/v7/ns-m2xQYezAtqh7ai59hJYW_AySPyikQrZReizgrnuw.ttf */
		url('/fonts/Droid_Sans_Mono_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=ns-m2xQYezAtqh7ai59hJaCLXEu0wbeKjKdJPgQe1G4&skey=4f85afbb2287170b#DroidSansMono */
		url('/fonts/Droid_Sans_Mono_400.svg#DroidSansMono') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src:
		local('Open Sans Light'),
		local('OpenSans-Light'),
		/* from http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff */
		url('/fonts/Open_Sans_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf */
		url('/fonts/Open_Sans_300.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=DXI1ORHCpsQm3Vp6mXoaTVlIn5tFQcqMuf-jhyJP0ps&skey=b33cc031a589c168#OpenSans */
		url('/fonts/Open_Sans_300.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Open Sans'),
		local('OpenSans'),
		/* from http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff */
		url('/fonts/Open_Sans_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf */
		url('/fonts/Open_Sans_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=cJZKeOuBrn4kERxqtaUH3Zbd9NUM7myrQQz30yPaGQ4&skey=62c1cbfccc78b4b2#OpenSans */
		url('/fonts/Open_Sans_400.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		/* from http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff */
		url('/fonts/Roboto_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf */
		url('/fonts/Roboto_300.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=Hgo13k-tfSpn0qi1SFdUfZbd9NUM7myrQQz30yPaGQ4&skey=11ce8ad5f54705ca#Roboto */
		url('/fonts/Roboto_300.svg#Roboto') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('/fonts/Roboto_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('/fonts/Roboto_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac#Roboto */
		url('/fonts/Roboto_400.svg#Roboto') format('svg');
}