<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Popup</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<div class="main-body">
    <div class="container" v-cloak>
        <div class="row">
            <div class="search">
                <form method="GET" action="https://chain.btc.com/search" class="search-form" target="_blank">
                    <div class="search-input-wrapper">
                        <input class="search-input" type="search" name="q" placeholder="Address/Height/Hash..."
                               autofocus autocomplete="off" spellcheck="false" >
                    </div>
                    <div class="search-button-wrapper">
                        <button type="submit" class="search-button"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </form>
            </div>

            <div class="update-notification text-info bg-info" v-if="needUpdate">
                <a href="https://chain.btc.com/en/applications/extension" :title="latestVersion.release_note" target="_blank">
                    检测到新版本（{{ latestVersion.version }}），点此升级。
                </a>
            </div>

            <div class="markets">
                <table class="markets-table">
                    <tr>
                        <th class="text-right">市场</th>
                        <th class="text-right">最新成交价</th>
                        <th class="text-right" title="24 小时最高">最高</th>
                        <td class="text-right" title="24 小时最低">最低</td>
                        <th class="text-right" title="24 小时成交量">成交量</th>
                    </tr>
                    <tr v-for="s in symbols" track-by="symbol">
                        <td class="text-right">{{ s.platform_zh_cn }}</td>
                        <td class="text-right price-indicator-td">
                            <price-indicator :v="markets[s.symbol].last" :rates="rates" :symbol="s" :options="options"></price-indicator>
                        </td>
                        <td class="text-right">{{ markets[s.symbol].high / 1e3 | format 2}}</td>
                        <td class="text-right">{{ markets[s.symbol].low / 1e3 | format 2}}</td>
                        <td class="text-right">{{ markets[s.symbol].vol / 1e8 | format 0 }}</td>
                    </tr>
                </table>
            </div>

            <footer class="footer">
                <a href="https://chain.btc.com" target="_blank">
                    <i class="icon-btc-logo"></i>
                </a>
                <a href="/components/option/option.html" target="_blank" class="option">设置</a>
            </footer>
        </div>
    </div>
</div>
<script src="../../build/popup.bundle.js"></script>
</body>
</html>