<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Popup</title>
    <style>
        [v-cloak] {
            visibility: hidden;
        }
    </style>

    <script src="/components/i18n.js"></script>
    <script src="../../build/popup.bundle.js"></script>
</head>
<body>

<div class="main-body">
    <div class="container" v-cloak>
        <div class="row">
            <div class="search">
                <form method="GET" action="https://chain.btc.com/search" class="search-form" target="_blank">
                    <div class="search-input-wrapper">
                        <input class="search-input" type="search" name="q"
                               data-i18n="popup_search_placeholder" data-i18n-attribute="placeholder"
                               autofocus autocomplete="off" spellcheck="false" >
                    </div>
                    <div class="search-button-wrapper">
                        <button type="submit" class="search-button"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </form>
            </div>

            <div class="update-notification text-info bg-info" v-show="needUpdate">
                <a href="https://chain.btc.com/en/applications/extension" target="_blank" data-i18n="popup_update_notification"></a>
            </div>

            <div class="markets">
                <table class="markets-table">
                    <tr>
                        <th class="text-right" data-i18n="popup_markets_exchange"></th>
                        <th class="text-right" data-i18n="popup_markets_last"></th>
                        <th class="text-right" data-i18n="popup_markets_high"></th>
                        <th class="text-right" data-i18n="popup_markets_low"></th>
                        <th class="text-right" data-i18n="popup_markets_vol"></th>
                    </tr>
                    <tr v-for="s in symbols" track-by="symbol">
                        <td class="text-right">{{ s | exchangeName }}</td>
                        <td class="text-right price-indicator-td">
                            <price-indicator :v="markets.data[s.symbol].last" :rates="rates" :symbol="s" :options="options"></price-indicator>
                        </td>
                        <td class="text-right">{{ markets.data[s.symbol].high / 1e3 | numberFormat 2}}</td>
                        <td class="text-right">{{ markets.data[s.symbol].low / 1e3 | numberFormat 2}}</td>
                        <td class="text-right">{{ markets.data[s.symbol].vol / 1e8 | numberFormat 0 }}</td>
                    </tr>
                </table>
                <div class="text-right markets-lastupdate"><span data-i18n="popup_last_update"></span> {{ markets.updatedAt | timestampFormat }}</div>
            </div>

            <footer class="footer">
                <a href="https://chain.btc.com" target="_blank" style="vertical-align: top; display: inline-block;">
                    <i class="icon-btc-logo"></i>
                </a>
                <a href="/components/option/option.html" target="_btccomblank" class="option" data-i18n="popup_settings"></a>
            </footer>
        </div>
    </div>
</div>
</body>
</html>