<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BTC.COM Extension Settings</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>扩展设置</h1>
            </div>

            <form class="settings" @change="submit" v-cloak>
                <div class="setting-section">
                    <h2>查询</h2>
                    <div class="setting-group">
                        <label>
                            <input type="checkbox" v-model="options.query.dropdown.enable">
                            <span>启用哈希识别查询</span>
                        </label>
                        <div class="help-text">
                            在您选中有效的哈希文字，或鼠标指向包含哈希的链接时，自动弹出查询窗口。
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <h2>币种</h2>
                    <div class="setting-group">
                        <div class="setting-row">
                            <label>
                                <input type="radio" name="priceCurrency" value="USD" v-model="options.price.preferCurrency"> 优先使用美元
                            </label>
                        </div>
                        <div class="setting-row">
                            <label>
                                <input type="radio" name="priceCurrency" value="CNY" v-model="options.price.preferCurrency"> 优先使用人民币
                            </label>
                        </div>
                    </div>
                </div>

                <div class="setting-section">
                    <h2>价格</h2>
                    <div class="setting-group">
                        <div class="setting-row">
                            <label>
                                <input type="radio" name="priceChangeColor" value="RED_UP_GREEN_DOWN" v-model="options.price.changeColor"> 红涨绿跌
                            </label>
                        </div>
                        <div class="setting-row">
                            <label>
                                <input type="radio" name="priceChangeColor" value="RED_DOWN_GREEN_UP" v-model="options.price.changeColor"> 绿涨红跌
                            </label>
                        </div>
                    </div>
                    <div class="setting-group">
                        <label>
                            <input type="checkbox" class="settings-checkbox" v-model="options.price.badge.enable">
                            <span>启用价格角标</span>
                        </label>
                        <select v-if="options.price.badge.enable" v-model="options.price.badge.source" style="margin-left: 10px;">
                            <option :value="s.symbol" v-for="s in symbols" track-by="symbol">{{ s.platform_zh_cn }}</option>
                        </select>
                        <div class="help-text">
                            比特币的实时价格将会显示在浏览器右上角。
                        </div>
                    </div>
                </div>
                <!--<div class="setting-section">-->
                    <!--<div class="setting-group">-->
                        <!--<div class="help-text">-->
                            <!--<button type="submit" class="btn btn-primary" id="submit">保存</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>

    <script src="../../build/option.bundle.js"></script>
</body>
</html>